<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h4>Edit Project</h2>
      </div>
    </div>

    <%= render 'projects/form' %>
  </div>
</div>
