<div class="container">
  <div class="card-panel">
    <div class="row">
    	<div class="col s12">
        <h3><%= @project.name %></h3>
        <%= link_to @project.uri, @project.uri, class: "teal-text text-lighten-2" %>
    	</div>
    </div>

    <div class="row">
      <div class="col s12">
        <%= link_to "Edit", edit_project_path(@project), class: "waves-effect waves-light btn" %>
        <%= link_to "Delete", project_path(@project), method: :delete, class: "waves-effect waves-light btn red" %>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h3>Builds</h3>
      </div>
    </div>

  </div>
</div>
