<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h4>New Node</h4>
      </div>
    </div>

    <%= render 'machines/form' %>
  </div>
</div>
