<nav class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">DuckCI</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Create Project</a></li>
      </ul>
    </div>
  </div>
</nav>
